

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-around">
            <a class="nav-link text-center" href="#">
                <i class="fas fa-home fa-lg"></i>
                <small>Home</small>
            </a>
            <a class="nav-link text-center" href="#">
                <i class="fas fa-feed fa-lg"></i>
                <small>Feeds</small>
            </a>
            <a class="nav-link text-center" href="#">
                <i class="fas fa-inbox fa-lg"></i>
                <small>Inbox</small>
            </a>
            <a class="nav-link text-center" href="#">
                <i class="fas fa-user fa-lg"></i>
                <small>Profile</small>
            </a>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
 
